<input type="file" (change)="uploadFile($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">

<h1>Список файлов</h1>

<table class="table table-striped">
  <tr>
      <td>Дата загрузки</td>
      <td>Имя файла</td>
      <td></td>
    </tr>
  <ng-container *ngFor="let f of uploadFiles; let i = index">
    <tr>
      <td>{{i>0 && uploadFiles[i-1].uploadDate==f.uploadDate?'':f.uploadDate | date : 'dd MM yyyy'}}</td>
      <td>{{f?.fileName}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="download(f)">Скачать</button>
        <button class="btn btn-sm btn-danger" (click)="deleteFile(f)">Удалить</button>
      </td>
    </tr>
  </ng-container>
</table>

